.photo-grid {
  margin: 0 auto;
  padding-top: 92px;
  display: grid;
  gap: 16px;
  max-width: 1184px;
  width: calc(100% - 2*48px);
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

  @media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding-top: 88px;
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    width: calc(100% - 2*24px);
    gap: 16px;
  }
}

@media screen and (max-width: 500px){
  .photo-grid {
    padding-top: 64px;
    width: calc(100% - 2*16px);
    grid-template-columns: repeat(1,1fr);
    gap: 12px;
  }
} 