.page {
  max-width: 1280px;
  background: #2A2C2F;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
  margin: 0 auto;
}
.header {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__logo {
  width: 176px;
  padding-left: 48px;
}
.header__lang {
  padding-top: 21px;
  padding-right: 47px;
  display: flex;
  gap: 20px;
}
.header__lang-link {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.1;
  text-decoration: none;
  font-style: 400;
}
.lead {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  }
.lead__title {
  max-width: 713px;
  max-height: 200px;
  width: 100%;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.07;
  padding-top: 55px;
  margin: 0 auto;
  text-align: center;
}
.lead__subtitle {
  max-width: 550px;
  max-height: 72px;
  width: 100%;
  font-size: 30px;
  line-height: 1,1;
  font-weight: 400;
  padding-top: 35px;
  margin: 0 auto;
  text-align: center;
}
.lead__image {
  max-width: 984px;
  max-height: 615px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 110px 0 110px;
}
.lead__caption {
  letter-spacing: 2.2px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  padding: 5px 0 0 110px;
 }
.intro {
  padding-left: 150px;
}
.intro__title {
  font-size: 54px;
  line-height: 1.1;
  padding-top: 72px;
  font-weight: 900;
  margin: 0;
}
.intro__text {
  max-width: 690px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  margin: 40px 0 0 0;
  padding: 0;
}
.intro__list {
  list-style-type:none;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  line-height: 1.5;
  margin-top: 32px;
}
.photo-grid {
  list-style: none;
  margin: 0 auto;
  padding: 81px 48px 0 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px,1fr) );
  gap: 16px;
}
.photo-grid__img {
  max-width: 100%;
  object-fit: contain;
}
.places {
padding-top: 90px;
}
.place {
  max-width: 984px;
  max-height: 660px;
  padding: 0px 148px 80px 148px;
  display: grid;
  grid-template-columns: calc(45%-14px) calc(55%-14px);
  grid-template-areas: 
  "title url"
  "image paragraphs";
  margin: 0 auto;
  column-gap: 40px;
  row-gap: 48px;
}
.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.1;
  max-width: 460px;
  grid-area: title;
  margin: 0;
  align-self: end;
}
.place__image {
  max-width: 100%;
  grid-area: image;
  justify-self:start;
}
.place__site {
  grid-area: url;
  align-self:end;
}
.place__url-heading {
  color: #AAAAAA;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  margin: 0;
  padding-bottom: 12px;
}
.place__link {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
}
.place__link:hover {
  opacity: 0.8;
}
.place__paragraphs {
  grid-area: paragraphs;
  max-width: 484px;
}
.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.65;
  margin: 0;
  padding-bottom: 28px;
}
.place__paragraph:last-child {
  padding-bottom: 0;
}

.trains__img {
  margin: 0 auto;
  padding: 90px 48px;
  background-image: url('./images/cover-trains.jpg');;

  max-width: 1164px;
  color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.trains__title {
  max-width: 540px;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.1;
  margin: 0 auto;
  padding: 250px 0 0 0;
  text-align: center;
  padding-top: 250px;
  position: relative;
}
.trains__subtitle {
  max-width: 360px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  padding-top: 35px;
  margin: 0 auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 90px 48px 24px 48px;
  margin: 0 auto;
}
.footer__links {
  display: flex;
}
.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  color: #FFF;
  margin-right: 18px;
  list-style-type:none;
}
.footer__link:last-child {
  margin-right: 0;
}
.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
}