.page {
  max-width: 1280px;
  max-height: 6875px;
  background: #2A2C2F;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
}
.header {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.header__logo {
  width: 176px;
  padding-left: 48px;
}
.header__lang {
  padding-top: 21px;
  padding-right: 47px;
  display: flex;
  gap: 20px;
}
.header__lang-link {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.1;
  text-decoration: none;
  font-style: 400;
}
.lead {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  }
.lead__title {
  max-width: 713px;
  max-height: 200px;
  width: 100%;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.07;
  padding-top: 55px;
  margin: 0 auto;
  text-align: center;

}
.lead__subtitle {
  max-width: 550px;
  max-height: 72px;
  width: 100%;
  font-size: 30px;
  line-height: 1,1;
  font-weight: 400;
  padding-top: 35px;
  margin: 0 auto;
  text-align: center;
}
.lead__image {
  max-width: 984px;
  max-height: 615px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 110px 0 110px;
}
.lead__caption {
  letter-spacing: 2.2px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  padding: 5px 0 0 110px;
 }
 .intro {
padding-left: 150px;

}
.intro__title {
  font-size: 54px;
  line-height: 1.1;
  padding-top: 72px;
  font-weight: 900;
  margin: 0;
}

.intro__text {
  max-width: 690px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  margin: 40px 0 0 0;
  padding: 0;
}
.intro__list {
  list-style-type:none;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  line-height: 1.5;
  margin-top: 32px;
}
.photo-grid {
  list-style: none;
  margin: 0 auto;
  padding: 81px 48px 0 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px,1fr) );
  gap: 16px;
}
.photo-grid__img {
  max-width: 100%;
  object-fit: contain;
}
.places {

}
.place {
display: grid;
grid-template-columns: calc(100%/2);
grid-template-areas: 
"title url"
"image paragraphs";
gap: 20px;

}
.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  max-width: 435px;
  grid-area: title;
padding-left: 148px;
align-self: start;
}
.place__image {
  max-width: 460px;
  max-height: 460px;
  grid-area: image;
  justify-self:start;
  object-fit: contain;
  padding-left: 148px;
}
.place__site {
  grid-area: url;
  align-self:end;

}
.place__url-heading {
  color: #AAAAAA;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.place__link {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
}
.place__paragraphs {
  grid-area: paragraphs;
}
.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 484px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
 

}