.footer__link {
  text-decoration: none;
  list-style-type:none;
  color: #FFF;
  transition: 0.3s ease-in;
}

.footer__link:hover {
  opacity: 0.3;
}

.footer__nav{
  display: flex;
  align-items: center;
}

@media (max-width: 530px) {
  .footer__link {

  }
}