.lead__title {
  font-family: "Inter-Black";
  max-width: 713px;
  width: 100%;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.07;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}
@media screen and (max-width: 1024px) {
.lead__title {
    padding-top: 30px;
}
}