.places__place {
  max-width: 984px;
  max-height: 660px;
  padding: 0px 148px 80px 148px;
  display: grid;
  grid-template-columns: calc(45%-14px) calc(55%-14px);
  grid-template-areas: 
  "title url"
  "image paragraphs";
  margin: 0 auto;
  column-gap: 40px;
  row-gap: 48px;
}