.footer__item {
  list-style-type:none;
  margin-right: 18px;
}

.footer__item:last-child {
  margin-right: 0;
}

@media (max-width: 530px) {
  .footer__item  {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px; /* margin-bottom ??? */
  }
  
  .footer__item:last-child {
    padding-bottom: 0;
  }
}